* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.head clear {
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

body {
    background-color: #f3f5f7;
}

.head1 {
    width: 100%;
    height: 101px;
    margin: 0px auto;
    position:relative;
    background-color: #f3f5f7;
    z-index:9996;
}
.head {
    width: 1200px;
    height: 101px;
    margin: 0px auto;
    position:relative;
    background-color:#ecade6;
    z-index:9999;
}

.picture {
    display: block;
    float: left;
    height: 100px;
}

.nav {
    float: left;
    height: 101px;
    margin-left: 40px;
    margin-top: 0px;
    line-height: 101px;
    text-align: center;
}

.nav li {
    padding-left: 20px;
    float: left;
    padding-right: 10px;
}

.nav a {
    padding-left: 8px;
    padding-right: 8px;
    width: 38px;
    padding-bottom: 10px;
    text-align: center;
    color: black;
    font-size: 18px
}

.nav a:hover {
    border-bottom: solid 2px #00A4FF;
}

.form {
    float: left;
    margin-left: 80px;
    margin-top: 31px;
}

.form .text {
    float: left;
    width: 335px;
    height: 40px;
    padding-left: 19px;
    background-color: #f3f5f7;
    ;
    border: 1px solid rgb(204, 0, 255);
}

.form .submit {
    float: left;
    width: 50px;
    height: 42px;
    background: rgb(204, 0, 255) url(../images/fa-search.png)no-repeat center center;
    vertical-align: bottom;
    border: 1px solid #5f0240;
}

#geren {
    float: left;
    margin-left: 10px;
    margin-top: 40px;
    color: #666666;
    font-size: 14px;

}

.middle {
    width: 100%;
    overflow: hidden;
    height: 420px;
    background: url(../images/背景.png) no-repeat center center;
}

.banner {
    position: relative;
    height: 420px;
    width: 1200px;
    margin: 0 auto;
    background: url(../images/锦鲤1.jpg) no-repeat center center;
}

.banner1 {
    position: absolute;
    width: 190px;
    height: 420px;
    background-color: #f8448f;
}

.libiao {
    width: 101px;
    height: 365px;
    margin-top: 27px 20px;
}

.liebiao a {
    display: block;
    color: white;
    font-size: 14px;
    margin-top: 25px;
    margin-left: 20px;
}

.liebiao a:hover {
    color: #00B4FF;
}

.jiantou {
    margin-left: 80px;
    display: inline-block;
}

.jiantou1 {
    margin-left: 40px;
    display: inline-block;
}

.jiantou2 {
    margin-left: 54px;
    display: inline-block;
}

.jiantou3 {
    margin-left: 92px;
    display: inline-block;
}

.jiantou4 {
    margin-left: 107px;
    display: inline-block;
}

.box1 {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    background-color: white;
}

.box1 ul {
    padding-top: 21px;
}

.box1 a {
    width: 97px;
    float: left;
    color: black;
    padding-right: 20px;
    font-size: 16px;
    text-align: center;
}

.jingpin a {
    color: #b700ff;
    font-size: 16px;
}

.xuanze {
    float: left;
    display: block;
    margin-left: 24px;
    font-size: 16px;
    padding-top: 21px;
}

.xuanze1 {
    border-left: 1px solid rgba(191, 191, 191, 1);
    color: black;
}

.xiugai a {
    color: #00A4FF;
    font-size: 16px;
}

.xingqu {
    padding-left: 200px;
}

.box2 {
    width: 1200px;
    height: 77px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 10px;
}

.tuijian {
    display: inline-block;
    height: 19px;
    width: 80px;
    font-size: 20px;
    padding-top: 30px;
    color: #494949;
}

.chakan {
    display: inline-block;
    float: right;
    height: 13px;
    width: 48px;
    margin-right: 20px;
    padding-top: 30px;
}

.box2 a {
    color: #A5A5A5;
    font-size: 12px;

}

.box3 {
    width: 1200px;
    height: 555px;
    margin: 0 auto;
}

.top {
    width: 1200px;
    height: 270px;
}

.bottom {
    width: 1200px;
    height: 270px;
}

.top img {
    float: left;
}

.text {
    display: inline-block;
    float: left;
    background-color: #FFFFFF;
    height: 270px;
    width: 233px;
    margin-top: 0px;
    position: relative;
    margin-left: 6px;
}

.shang {
    width: 185px;
    height: 34px;
    padding: 179px 20px 57px 23px;
    font-size: 14px;
    color: #050505;
    position: absolute;
}

.xia {
    height: 13px;
    width: 119px;
    padding: 231px 86px 26px 23px;
    color: #606060;
    font-size: 12px;
}

.xia span {
    color: #FF7C2D;
}

.text1 {
    display: inline-block;
    float: left;
    background-color: #FFFFFF;
    height: 270px;
    width: 233px;
    margin-top: 15px;
    position: relative;
    margin-left: 6px;
}

.shang1 {
    width: 185px;
    height: 34px;
    padding: 20px 20px 57px 23px;
    font-size: 14px;
    color: #050505;
    position: absolute;
}

.xia1 {
    height: 13px;
    width: 119px;
    padding: 70px 86px 26px 23px;
}

.xia1 span {
    color: #FF7C2D;
}

.xia1 p {
    color: #606060;
    font-size: 12px;
}

.box4 {
    width: 1200px;
    height: 240px;
    margin: 0 auto;
    border: 1px solid black;
}

.qianduan {
    display: inline-block;
    height: 19px;
    width: 140px;
    font-size: 20px;
    padding-top: 25px;
    color: #494949;
}

.gaodi {
    display: inline-block;
    margin-left: 290px;
}

.gaodi li {
    float: left;
    padding-right: 63px;
}

.gaodi a {
    font-size: 16px;
    color: #868686;
}

.gaodi a:hover {
    color: #00A4FF;
}

.chakan1 {
    display: inline-block;
    float: right;
    height: 13px;
    width: 48px;
    margin-right: 20px;
    padding-top: 30px;
}

.chakan1 a {
    font-size: 12px;
    color: #A5A5A5;
}

.box5 {
    margin: 0 auto;
    height: 115px;
    width: 1200px;
}

/*  */

#pic {
    width: 190px;
    height: 100px;
    display: block;
    float: left;
    margin-top: 0px;
}

#picture {
    width: 100px;
    height: 60px;
    display: block;
    float: left;
    margin-top: 33px;
}

#img1 {
    width: 100px;
    height: 100px;
}

#img2 {
    width: 233px;
    height: 175px;
}

.con {
    width: 1200px;
    overflow: hidden;
    padding-top: 20px;
}

.title {
    width: 1300px;



}

#timer {
    border: purple solid 2px;
    width: 100px;
    height: 50px;
    padding-top: 20px;
}

#on {
    background-color: rgb(230, 227, 227);
    position: absolute;
    z-index: 999;
    width: 100px;
    height: 50px;
    padding: 0;
    margin-left: 500px;
}

#under {
    top: 100px;
    left: 100px;
    width: 100px;
    height: 50px;
    margin-left: 500px;
}

#btn1 {
    font-size: 12px;
    padding: 0;
    color: rgb(19, 18, 18);
    background-color: rgb(204, 83, 133);
    border: rgb(204, 83, 133) solid 1px;
    width: 106px;
    height: 75px;
}
#main{
    width:1000px;
    margin:auto;
    }
    #smallpic{
    height:120px; 
    }
    #imgs{
    float:left; 
    margin-right:20px; 
    margin-bottom:10px;
    }
    #smallpic img:hover{
      cursor:pointer;
    }
    
    #bigpic{
        width: 980px;
        height: 600px;
    }
    #dianji1{
        padding-top: 20px;
        color: #00A4FF;
        height: 20px;
        font-size: 25px;
        
    }
    /* 时钟 */
    #clock{
        width: 400px;
        height: 70px;
        
        padding-left: 940px;
        font-size: 23px;
        color: #a5027c;
    }
    timerss{
        width: 200px;
        height: 50px;
        
        border: #3f0230 1PX solid;
    }
    /* 用户 */
    #user{
        width: 500px;
        height: 500px;
        border: #cbbecc 1px solid;
        position: absolute;
        z-index: 999;
        background-color: #cbbecc;
        position: absolute;   
        top: 20%;   
        left: 45%; 
    }
    #input1 {
        border: 0;
        outline: none;
        background-color:#cbbecc;
    }

    #input2 {
        border: 0;
        outline: none;
        background-color:#cbbecc;
    }

    #input3 {
        height: 10px;
        color: #e709b0;
        margin-bottom: 10px;
        
    }

    #input4 {
        height: 10px;
        margin-bottom: 10px;
        color: #e709b0;
        

    }


    .div1 {
        width: 300px;
        height: 40px;
        border: gray solid 1px;
        line-height: 40px;
        margin-bottom: 10px;
        padding-left: 15px;

    }

    .div2 {
        width: 300px;
        height: 40px;
        border: gray solid 1px;
        padding-left: 15px;
        line-height: 40px;
        display: inline-block;
    }

    .div3 {
        width: 200px;
        height: 40px;
        border:#cbbecc solid 1px;
        line-height: 40px;
    }

    #btn12 {
        border-style: none none none none;
        background-color: red;
        width: 315px;
        height: 40px;
    }
    #btn13 {
        margin-top: 180px;
        margin-left: 100px;
        border-style: none none none none;
        background-color: rgb(182, 131, 161);
        width: 100px;
        height: 40px;
       
    }
    p {
        color: red;

    }

    .add {
        color: white;
    }

    #asd {
        display: inline-block;
        margin-left: 100px;
        margin-top:30px ;
    }

    #name {
        float: left;

    }
    #jie{
        width: 80px;
        height: 30px;
        color: #948e92;
        margin-top: 20px;
        margin-left: 100px ;
       
    }

    /* 学员 */
    #grace1{
        width: 500px;
        height: 500px;
        border: #cbbecc 1px solid;
        position: absolute;
        z-index: 999;
        background-color: #cbbecc;
        position: absolute;   
        top: 70%;   
        left: 45%; 
    }
    #closes{
        margin-left: 220px;
        margin-top: 50px;
    }
    /* jiewei */
    
    .box8{
        width: 1200px;
        height: 418px;
        margin:0px auto;
        position: relative;
        background-color: #f1a1d9;
    }
    .xueli1{
        position: absolute;
        padding-top: 70px;
        padding-left:160px;
        padding-bottom: 30px;
    }
    .zhili{
        position: absolute;
        width:380px;
        height:12px;
        color: #666666;
        font-size:12px;
        padding-top: 190px;
        padding-left: 20px;
    }
    .xiazai{
        position: absolute;
        height: 32px;
        width: 120px;
        border: #00A4FF 1px solid;
        margin-top: 240px;
        margin-left: 20px;
    }
    .xiazai1{
        line-height: 32px;
        text-align: center;
        font-size:16px;
        color:rgba(0,164,255,1);
    }
    .help{
        position: absolute;
        height: 17px;
        width: 80px;
        font-size: 16px;
        color: #333333;
        margin-left: 500px;
        margin-top: 124px;
    }
    .box9{
        position: absolute;
        height: 96px;
        width: 100px;
        margin-left: 500px;
        margin-top: 180px;
    }
    .help1 a{
        color: #333333;
        font-size: 12px;
    }
    .help2{
        position: absolute;
        height: 17px;
        width: 80px;
        font-size: 16px;
        color: #333333;
        margin-left: 700px;
        margin-top: 124px;
    }
    .box10{
        position: absolute;
        height: 96px;
        width: 100px;
        margin-left: 700px;
        margin-top: 180px;
    }
    .help3{
        position: absolute;
        height: 17px;
        width: 80px;
        font-size: 16px;
        color: #333333;
        margin-left: 900px;
        margin-top: 124px;
    }
    .box11{
        position: absolute;
        height: 96px;
        width: 100px;
        margin-left: 900px;
        margin-top: 180px;
    }
    /* 回到顶部 */
    body,html{
        height:200px;
    }
    .up {
        display: none; width: 100px; height: 100px; 
        position: fixed; right: 10px; bottom: 20px;
    }
    #peimingming{
        margin-left: 20px;
        width: 60px;
        height: 60px;
    }
    
